.backgroundPink {
  background-color: #FC33FF;
  height: 100px;
}

.backgroundBlue {
  background-color: #33ECFF;
  height: 100px;
}

.backgroundGreen {
  background-color: #ACFF33;
  height: 100px;
}

.backgroundOrange {
  background-color: #FF5A21;
  height: 100px;
}
