body{
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Raleway', sans-serif;
}

.aboutUsSection{
  background-color: #ccc;
}

footer{
  background-color: #111;
  color: #fff;
}

.modal-content{
  background-color: red;
}

.btn-primary{
  background-color: #bada55;
}
